[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User={{ user }}
Group=www-data
WorkingDirectory=/home/{{ user }}/myproject
ExecStart=/home/{{ user }}/myproject/myprojectenv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/sammy/myproject/myproject.sock myproject.wsgi:application
